<header class="flex justify-between mx-auto py-5 px-10 w-full xl:w-[1120px] z-10">
  <a href="/">
    <img
      class="rounded-full size-20 mb-4"
      src="/logo.png"
      alt="TryAgain logo"
    />
  </a>
  <nav class="px-3 py-1 flex flex-row items-center backdrop-blur-md backdrop-opacity-50">
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="/#about"
    >
      Apps
    </a>
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="/#about"
    >
      About
    </a>
  </nav>
</header>
