<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbOpU6E6Uj7h-4xq2LzTVa6RGhHm-mItM</string>
	<key>GCM_SENDER_ID</key>
	<string>970533232003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amclub</string>
	<key>PROJECT_ID</key>
	<string>amclub-6b2c4</string>
	<key>STORAGE_BUCKET</key>
	<string>amclub-6b2c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970533232003:ios:24f16d114c7e09b5022ab6</string>
</dict>
</plist>