---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Header title="Privacy Policy & Terms" />

<main style="max-width: 1120px; margin: auto; padding: 1rem; display: grid; gap: 1rem; padding-bottom: 2rem;">
  <h1 style="font-size: 1.875rem; font-weight: bold; margin-bottom: 2rem;">Privacy Policy</h1>

   <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem; padding-bottom: 2rem;">
    <!-- Fila 1 -->
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="/images/app1.png" alt="App 1" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
      <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">Piramide</h2>
      <a href="/privacypolicy/piramide" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
      <a href="/termsofservice/piramide" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="/images/app2.png" alt="App 2" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
      <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">MoreHabits</h2>
      <a href="/privacypolicy/morehabits" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
      <a href="/termsofservice/morehabits" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
    </div>


    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="/images/app6.png" alt="App 3" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
      <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">BlissMind</h2>
      <a href="" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
      <a href="" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
    </div>

 
  </div>
  <!-- Fila 2 -->
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem; padding-bottom: 2rem;">
    <!-- Añade más columnas aquí según sea necesario -->


    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="/images/app5.png" alt="App 2" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
      <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">TFT ProPlayers</h2>
      <a href="/privacypolicy/tftpros" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
      <a href="/termsofservice/tftpros" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="/images/app9.png" alt="App 3" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
      <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">5am club</h2>
      <a href="" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
      <a href="" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="/images/app8.png" alt="App 2" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
      <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">LoHi Party</h2>
      <a href="/privacypolicy/lohi" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
      <a href="/termsofservice/lohi" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
    </div>


  </div>
  <!-- Fila 3 -->
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem; padding-bottom: 2rem;">
    <!-- Añade más columnas aquí según sea necesario -->
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="/images/app7.png" alt="App 1" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
      <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">Culture Party</h2>
      <a href="/privacypolicy/cultureparty" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
      <a href="/termsofservice/cultureparty" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
    </div>

 

  </div>
  



  </div>

  <h1 style="font-size: 1.875rem; font-weight: bold; margin-bottom: 2rem;">Soon</h1>

  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem; padding-bottom: 2rem;">
   <!-- Fila 1 -->
   <div style="display: flex; flex-direction: column; align-items: center;">
     <img src="/images/app3.png" alt="App 3" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
     <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">PomodoroKing</h2>
     <a href="/privacypolicy/piramide" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
     <a href="/termsofservice/piramide" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
   </div>

   <div style="display: flex; flex-direction: column; align-items: center;">
     <img src="/images/app10.png" alt="App 10" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
     <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">GymTrack</h2>
     <a href="/privacypolicy/morehabits" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
     <a href="/termsofservice/morehabits" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
   </div>


   
   <div style="display: flex; flex-direction: column; align-items: center;">
     <img src="/images/app4.png" alt="App 4" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
     <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">Love Cloths</h2>
     <a href="/privacypolicy/tftpros" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
     <a href="/termsofservice/tftpros" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
    </div>
    
  </div>
  <!-- Fila 2 -->
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem; padding-bottom: 2rem;">
    <!-- Añade más columnas aquí según sea necesario -->
    
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img src="/images/app11.png" alt="App 11" style="width: 100px; height: 100px; border-radius: 20px; margin-bottom: 1rem;" />
      <h2 style="font-size: 1rem; font-weight: bold; margin-bottom: 0.5rem;">MyFoodStock</h2>
      <a href="" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem; margin-bottom: 0.5rem;">Privacy Policy</a>
      <a href="" style="background-color: black; color: white; font-weight: bold; padding: 0.5rem 1rem; border-radius: 20px; text-decoration: none; font-size: 0.6rem;">Terms of Service</a>
    </div>
    

  


 </div>
</main>

<Footer />
