---
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";


---

<Header title="Privacy Policy" />

<main style="max-width: 1120px; margin: auto; padding: 1rem; display: grid; gap: 1rem; padding-bottom: 2rem;">
  <h1 style="font-size: 1.875rem; font-weight: bold; margin-bottom: 2rem;">Privacy Policy</h1>
  
  <p style="font-size: 1rem; line-height: 1.5;">
    At TryAgain, we highly prioritize the privacy and security of our users. This Privacy Policy outlines how we collect, use, and safeguard the information you provide when using our application.
  </p>

  <p style="font-size: 1rem; line-height: 1.5;">
    Our application, Piramide App, is designed to offer an enjoyable experience for users without compromising their privacy. We do not require users to create accounts or provide personal information to use our app. Any data collected by Piramide App is handled with the utmost care and in compliance with relevant data protection regulations.
  </p>

  <p style="font-size: 1rem; line-height: 1.5;">
    When purchasing subscriptions through Piramide App, user data is securely managed by RevenueCat, a trusted third-party platform specializing in subscription management. RevenueCat ensures that all user data is encrypted and protected according to industry standards.
  </p>

  <p style="font-size: 1rem; line-height: 1.5;">
    By using Piramide App, you agree to the terms outlined in this Privacy Policy. We encourage you to review this policy regularly for any updates or changes. If you have any questions or concerns about our privacy practices, please contact us at hello@tryagain.app.
  </p>
</main>

<Footer />