---
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
---

<Header title="Privacy Policy" />

<main style="max-width: 1120px; margin: auto; padding: 1rem; display: grid; gap: 1rem; padding-bottom: 2rem;">
  <h1 style="font-size: 1.875rem; font-weight: bold; margin-bottom: 2rem;">Privacy Policy</h1>
  
  <p style="font-size: 1rem; line-height: 1.5;">
    At TryAgain, we highly prioritize the privacy and security of our users. This Privacy Policy outlines how we collect, use, and safeguard the information you provide when using our application, Piramide.
  </p>

  <h2 style="font-size: 1.5rem; font-weight: bold; margin-top: 1.5rem;">1. Information We Collect</h2>
  <p style="font-size: 1rem; line-height: 1.5;">
    We do not require users to create accounts or provide personal information to use our app. However, we may collect the following information:
    <ul style="margin-top: 0.5rem;">
      <li>Usage Data: Information about how you use the app, including interactions and engagement metrics.</li>
      <li>Purchase Data: Information related to in-app purchases, handled securely by RevenueCat.</li>
    </ul>
  </p>

  <h2 style="font-size: 1.5rem; font-weight: bold; margin-top: 1.5rem;">2. How We Use Your Information</h2>
  <p style="font-size: 1rem; line-height: 1.5;">
    The information we collect is used to:
    <ul style="margin-top: 0.5rem;">
      <li>Provide and maintain the app.</li>
      <li>Improve the app's functionality and user experience.</li>
      <li>Manage in-app purchases and subscriptions through RevenueCat.</li>
    </ul>
  </p>

  <h2 style="font-size: 1.5rem; font-weight: bold; margin-top: 1.5rem;">3. Data Security</h2>
  <p style="font-size: 1rem; line-height: 1.5;">
    We implement a variety of security measures to maintain the safety of your personal information. All payment information and purchase data are handled and stored securely by RevenueCat, ensuring industry-standard encryption and protection.
  </p>

  <h2 style="font-size: 1.5rem; font-weight: bold; margin-top: 1.5rem;">4. Third-Party Services</h2>
  <p style="font-size: 1rem; line-height: 1.5;">
    We use third-party services to enhance the functionality of our app, including but not limited to:
    <ul style="margin-top: 0.5rem;">
      <li><b>Audio Session:</b> This package is used to ensure that playing videos does not interrupt your device's music playback.</li>
      <li><b>Confetti:</b> This package is used to provide interactive visual effects.</li>
      <li><b>Flutter SVG:</b> This package is used to render SVG images within the app.</li>
      <li><b>Video Player:</b> This package is used to display a background video on the app's start screen.</li>
    </ul>
    These services may collect information that your browser sends whenever you visit our app. This information may include your device's Internet Protocol (IP) address, browser type, browser version, the pages of our app that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
  </p>

  <h2 style="font-size: 1.5rem; font-weight: bold; margin-top: 1.5rem;">5. Your Data Protection Rights</h2>
  <p style="font-size: 1rem; line-height: 1.5;">
    Depending on your location, you may have the following rights regarding your personal data:
    <ul style="margin-top: 0.5rem;">
      <li>The right to access – You have the right to request copies of your personal data.</li>
      <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate or incomplete.</li>
      <li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
      <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
      <li>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</li>
      <li>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
    </ul>
  </p>

  <h2 style="font-size: 1.5rem; font-weight: bold; margin-top: 1.5rem;">6. Changes to This Privacy Policy</h2>
  <p style="font-size: 1rem; line-height: 1.5;">
    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. We encourage you to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
  </p>

  <h2 style="font-size: 1.5rem; font-weight: bold; margin-top: 1.5rem;">7. Contact Us</h2>
  <p style="font-size: 1rem; line-height: 1.5;">
    If you have any questions or concerns about our privacy practices, please contact us at <a href="mailto:hello@tryagain.app" style="color: blue; text-decoration: none;">hello@tryagain.app</a>.
  </p>
</main>

<Footer />
